<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMC</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>
    <nav>
        <a href="/">Calcular IMC</a> 
        <a href="/ver_imc"> Ver IMC</a>
    </nav>
    <div class="imc_cal">
        <form action="/index.html" method="post" class="cal_imc">
        <h2 class="titulo">CÁLCULO IMC </h2>

        <label class="nome"for="">Nome:</label> 
        <input class="nome" type="text" name="nome" id="nome"> <br>

        <label class="peso">Peso (kg):</label> <!--INDICAÇÃO DA DIGITAÇÃO-->
        <input class="peso" type="text" name="peso" id="peso"> <br> <!--DIGITAÇÃO-->

        <label class="altura"for="">Altura (m):</label> 
        <input class="altura" type="text" name="altura" id="altura"> 

        <div>
            <button type="submit" class="cal_imc_botao">CALCULAR IMC</button>
        </div>
        </form>
    </div>
    <div>
        <img class="estrela_cabecalho" src="/static/assets/estrelaa.png" alt="">
    </div>
</body>
</html>