@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-primaria: "montserrat", sans-serif;
    --font-titulo: "League Gothic", sans-serif;
}


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #dbecf4;
}

nav {
    background-color: #5f84a2;
    padding: 20px;
    text-align: right;
}
 
nav a{
    color: white;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 22px;
    margin: 0 30px;
    font-weight: bold;
}
 
nav :hover{
    background-color:  rgb(25, 69, 105);
    padding: 2px 2px;
    border-radius: 5px;
    color: white;
}
 

.titulo{
    font-family: var(--font-titulo);
    font-weight: 72.9px;
    color: #194569;
    font-size: 130px;
    text-align: center;
    top: -165px;
    position: relative;
}

.imc_cal{
    place-items: center;
    top: 50px;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    font-family: var(--font-primaria);
    color: #194569;
    font-weight: bold;
    text-align: center;
    left: 500px;
    margin-top: 120px;
    display: grid;
    grid-template-columns: auto;
    background-color: #dbecf4;
    border: 4px solid #194569;
    padding: 1px 1px;
    width: 500px;
    height: 300px;
}

.nome{
    top: -140px;
    position: relative;
    right: 15px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 15px;
    border-color: #194569;
    border-width: 3px;
    padding: 7px;
    background-color: #dbecf4;
    width: 280px;
}

.peso{
    top: -100px;
    position: relative;
    right: 15px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 15px;
    border-color: #194569;
    border-width: 3px;
    padding: 7px;
    background-color: #dbecf4;
    width: 80px;
}

.altura{
    top: -60px;
    position: relative;
    right: 21px;
    font-weight: bold;
    font-size: 30px; 
    border-radius: 15px;
    border-width: 3px;
    border-color: #194569;
    padding: 7px;
    background-color: #dbecf4;
    width: 80px;
}

.estrela_cabecalho{
    position: relative;
    top: -494px;
}

.cal_imc_botao{
    top: 80px;
    position: relative;
    border-radius: 15px;
    font-weight: bold;
    border-color: #5f84a2;
    padding: 10px;
    background-color: #5f84a2;
    width: 100px;
    color: #dbecf4;
    cursor: pointer;
}

.cal_imc_botao:hover{
    background-color: #194569;
}



/*VER IMC*/

.estrela_cabecalho_v{
    position: relative;
    top: -340px;
}

.titulo_dois{
    font-family: var(--font-titulo);
    font-weight: 72.9px;
    color: #194569;
    font-size: 130px;
    text-align: center;
    top: 2px;
    position: relative;
}

.msg{
    font-family: var(--font-primaria);
    font-weight: bold;
    color: #5f84a2;
    font-size: 40px;
    text-align: center;
    top: 130px;
    position: relative;
}

.voltar{
    font-family: var(--fonte-secundaria);
    position: relative;
    text-decoration: none;
    background-color: #194569;
    border-radius: 7px;
    border: 8px solid #194569;
    border-color: #194569;
    color: white;
    top: 270px;
    font-weight: bold;
    font-size: 20px;
    left: 633px;
}



